<ion-content [fullscreen]="true">
  <div>
    <ion-item *ngFor="let c of cart;let i = index" class="ion-padding">
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" [src]="c.img" />
      </ion-thumbnail>
      <div>
        <div>
          ( {{i+1}} ) {{c.name}}
        </div>
        <div>
          จำนวน : {{c.count}}
        </div>
        <div>
          <ion-input label="หมายเหตุ : " placeholder="-" [(ngModel)]="c.remark"></ion-input>
        </div>
      </div>
    </ion-item>
  </div>
</ion-content>