.menu-data {
  padding: 0px 0px 65px 0px;
}

.group {
  font-size: 25px;
  border-bottom: solid 2px #3e3e3e;
  margin-bottom: 25px;
}

.menu {
  max-width: 450px;
  margin: auto;
  padding: 15px;

  ion-card {
    margin-bottom: 25px;
  }
}

.badge {
  color: white;
  width: 30px;
  height: 30px;
  background: red;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 40px;
  right: -5px;
  font-size: small;
  font-weight: bold;
}