<ion-content [fullscreen]="true">
  <div class="menu-data">
    <div class="header">
      <div class="logo">

      </div>
    </div>
    <div class="segment-group">
      <div class="segment">
        <ion-segment mode="md" color="danger" [scrollable]="true" [value]="menuData[0]">
          <ion-segment-button *ngFor="let group of menuData" [value]="group" (click)="set_Menu(group)">
            <ion-label>{{group.group}}</ion-label>
          </ion-segment-button>
        </ion-segment>
      </div>

    </div>
    <div class="group-menu">
      <div class="menu">
        <div class="group ion-padding group" style="color: #982421;font-weight: 500;">
          {{_Menu(onclickMenu).group}}
        </div>
        <ion-card *ngFor="let menu of _Menu(onclickMenu).menu">
          <!-- <div style="background: #ffc442;height: 15px;"></div> -->
          <div class="content-menu">
            <div class="img" [style.background-image]="'url(' + menu.img + ')'"></div>
            <div class="content-detail">
              <div style="margin-top: 10px;">
                <strong style="padding: 5px 10px 5px 5px;color: #982421;font-weight: 500;">
                  {{menu.name}}
                </strong>
                <div class="options">
                  <div *ngFor="let opt of menu.options">
                    - {{opt.title}} ({{opt.price}}.-)
                  </div>
                </div>
              </div>

              <div class="ion-text-end ion-padding">
                <ion-badge color="danger" mode="ios">
                  <strong *ngIf="menu.price > 0">
                    {{menu.price|number}}.-
                  </strong>
                  <strong *ngIf="menu.price < 1">
                    มีตัวเลือก
                  </strong>
                </ion-badge>
              </div>
            </div>
          </div>
        </ion-card>
      </div>
    </div>
  </div>
</ion-content>