<ion-content [fullscreen]="true">
  <div class="menu-data">
    <div class="group-menu" *ngFor="let group of menuData">
      <div class="menu">
        <div class="group ion-padding group">
          <strong>
            หมวดหมู่ :
          </strong>
          {{group.group}}
        </div>
        <ion-card *ngFor="let menu of group.menu">
          <img alt="Silhouette of mountains" [src]="menu.img" />
          <ion-card-header>
            <ion-card-title>
              <strong>
                {{menu.name}}
              </strong>
            </ion-card-title>
            <ion-card-subtitle>
              <strong>
                {{menu.price|number}}.-
              </strong>
            </ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            {{menu.detail}}
          </ion-card-content>
          <div class="ion-text-end ion-padding">
            <ion-button>
              <ion-icon name="add-outline"></ion-icon>
              เพิ่มใส่ตะกร้า
            </ion-button>
          </div>
        </ion-card>
      </div>
    </div>
  </div>


  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="cart-outline"></ion-icon>
    </ion-fab-button>
    <ion-label class="badge">20</ion-label>
  </ion-fab>
</ion-content>